body{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.5)), 
        url(Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif; color: black;
    margin: 0;
    padding: 0;

}

.logo{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



#about{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 100%;
    line-height: 1.3;
    background-color:rgba(245, 240, 230, 0.5);
    background-repeat: no-repeat;
    justify-content: center;
}

#middle {
    align-self: justify;
    text-align: justify;
    margin: 20px 0;
  }
  
  
  #bottom {
    display: flex;
    flex-direction: column auto;
    align-items: justify;
    justify-content: center;
    gap: 10px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: rgba(166, 124, 82, 0.5);

}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#products{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 100%;
    line-height: 1.3;
    background-color:rgba(212, 163, 115, 0.5);
    background-repeat: no-repeat;
    justify-content: center;
} 

#contact{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 100%;
    line-height: 1.3;
    background-color:rgba(155, 170, 127, 0.5);
    background-repeat: no-repeat;
    justify-content: center;
    padding-bottom: 20px;
} 

button{
    background-color: rgba(81, 153, 66, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: rgba(166, 124, 82, 0.5);
    color: rgb(0, 0, 0);
    padding: 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 1;
    margin-top: 0px;
}

.footer-content {
    display: flex;
    justify-content:space-around;
    align-items: center;
    ;
}
    
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    
}
.producto {
    background-color: rgba(166, 124, 82, 0.584);
    border-left: 6px solid rgba(181, 199, 154, 1); 
    padding: 20px 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }

@media (max-width: 768px) {
    .header .section1{
        flex-direction: column;
        align-items: center;
        text-align: center;}
    .logo img{  
        width: 100%;
        height: auto;
        max-width: 80px;}
    }

#carrito{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 100%;
    background-color:rgba(225, 172, 120, 0.5);
    background-repeat: no-repeat;
    justify-content: center;
}
